<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>David Justel García</h2>
    <img src="/images/foto.gif">   
  </body>
</html>
